/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: radial-gradient(circle, #ff9a9e, #fad0c4, #fbc2eb);
    height: 100vh;
    margin: 0;
    color: white;
    padding: 100px 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.25rem;
}

section {
    padding: 60px 0;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#projects .card {
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
}

footer p {
    margin: 0;
}
